body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.app-header{
    text-align: center;
    margin:10px;
}

.headerLetter{
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-size: 60px;
}

.y{
  color:rgb(85, 169, 222);
}
.o{
  color:yellow;
}
.s{
  color:red;
}
.h{
  color:rgb(107, 222, 107);
}
.i{
  color:yellow;
  margin-right: 10px;
}

.r{
  color:red;
}
.a{
  color:rgb(107, 222, 107);
}
.c{
  color:yellow;
}
.e{
  color:red;
}
.r{
  color:rgb(85, 169, 222);
}


.mainContainer{
    text-align: center;
    /* border: 1px solid red; */
}

.container {
  border: 1px solid aliceblue;
  border-radius: 10px;
  background-color: aliceblue;
  height: 80vh;
  width: 98vw;
  box-shadow: inset 2px 2px 5px 2px rgba(75, 77, 82, 0.193);
}

.playerCard {
  border: 1px solid rgb(47, 72, 97);
  border-radius: 8px;
  
}
.googleLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.raceBoard {
}

.lane {
  position: relative;
  margin: 3px auto 3px auto;
  width: 90vw;
  height: 60px;
  border-radius: 10px;
  background-color: burlywood;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMjkyMjExMTA4YTMxYzBhYjkwZjMzYWFmYjdhOWJkMmJhNDUxZGMzYSZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/U7huVmA3TKuqvznInJ/giphy.gif);
  background-repeat: repeat;
  background-position: center bottom 28%;
}

/* .racerPic {
  position: absolute;
  height: 80%;
  width: 25px;
  background-color: red;
  border: 1px solid blue;
} */
#slot{
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(180, 227, 234);
  box-shadow: inset 2px 2px 5px 2px rgba(75, 77, 82, 0.193);
  border-radius: 10px;
}

#slotWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}

.gameButton{
  height:30px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: rgb(180, 227, 234);
  box-shadow: 2px 2px 5px 2px rgba(75, 77, 82, 0.193);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.gameButton:hover{
  background-color: rgb(149, 192, 197);
}

.rollButton {
  width: 400px;
}



.winnerOverlay{
  position: fixed; 
  height: 80vh;
  width: 98vw;
  border-radius: 10px;
  background-color: rgba(0, 255, 68, 0.5); 
  box-shadow: inset 2px 2px 5px 2px rgba(75, 77, 82, 0.193);
  z-index: 2; 
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.cloud{ 
  margin-top:70px;
  background:#ECEFF1;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
  border-radius:40px;
  padding:20px;
  font-size:60px;
  overflow:auto; 
  display:flex;
  flex-direction: column;
  align-items: center;
}



/* Ready Up Screen CSS */
.readyUp{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.charBtn {
  height: 90%;
}
.charBtn:hover {
  cursor: pointer;
}
.currChar{
  height:100px;
}

.playerCard{
  width: 75vw;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 2px 2px 5px 2px rgba(75, 77, 82, 0.193);
  border:none;
}

.charContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 30vh;
  width: 75vw;
  background-color: lightblue;
  margin: auto;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px 2px rgba(75, 77, 82, 0.193);
  margin-bottom:20px;
}

.slotsValues{
  align-items: center;
  justify-content: center;
  display: flex;
}